<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">     
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Ajout des Instruments</title>
</head>
<body>
 <div layout:fragment="Mycontent">
<div class="container mt-5">
<div class="card">
  <div class="card-header" th:if="${mode=='new'}"> Ajout des Instrument </div>
  <div class="card-header" th:if="${mode=='edit'}"> Modification des Instrument </div>
				<div class="card-body">
					<form th:action="@{saveInstrument}" method="post">
					   <div class="form-group">
							<label class="control-label" hidden>ID Instrument :</label> 
		       				<input type="hidden" name="idInstrument" class="form-control" th:value="${Instrument.idInstrument}"  />
						</div>
						<div class="form-group">
							<label class="control-label">Nom Instrument :</label> 
					        <input type="text" name="nomInstrument" class="form-control" th:value="${Instrument.nomInstrument}"  />
							<span th:errors= ${Instrument.nomInstrument} class="text-danger"> </span>	 
						</div>
						<div class="form-group">
							<label class="control-label">Prix Instrument :</label> 
							<input type="text" name="prixInstrument" class="form-control" th:value="${Instrument.prixInstrument}" />
							 <span th:errors=${Instrument.prixInstrument} class="text-danger"> </span> 
						</div>
						<div class="form-group">
							<label class="control-label">date création :</label> 
							<input type="date" name="dateCreation" class="form-control"  th:value="${Instrument.dateCreation}"/>
							 <span th:errors=${Instrument.dateInstrument} class="text-danger"> </span> 
						</div>
						<div>
							<button type="submit" class="btn btn-primary">Valider</button>
						</div>
					</form>
				</div>
	</div>
</div>
</div>
</body>
</html>

