<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
      
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Liste des Instruments</title>
</head>
<body>
 <div layout:fragment="Mycontent">
<div class="container">
<div class="card">
  <div class="card-header">
    Liste des Instruments
  </div>
  <div class="card-body">    
      <table class="table table-striped">
        <tr>
          <th>ID</th><th>Nom Instruments</th><th>Prix</th><th>Date Création</th>
         </tr>  
           <tr th:each="p:${Instrument.content}">
              <td th:text="${p.idInstrument}"></td>
              <td th:text="${p.nomInstrument}"></td>
              <td th:text="${p.prixInstrument}"></td>  
               <td th:text="${p.dateCreation}"></td>   
              <td><a class="btn btn-danger" onclick="return confirm('Etes-vous sûr ?')"
                th:href="@{supprimerInstrument(id=${p.idInstrument}, page=${currentPage},size=${size})}">Supprimer</a>
               </td> 
              <td><a class="btn btn-success" th:href="@{modifierInstrument(id=${p.idInstrument})}">Editer</a></td>   
           </tr>             
      </table>
            <ul class="nav nav-pills">
         <li th:each="page,status:${pages}">
           <a th:class="${status.index==currentPage?'btn btn-primary':'btn'  }" 
              th:href="@{ ListeInstruments(page=${status.index}, size=${size} ) }"
              th:text="${status.index }"></a>
         </li>
      </ul>
      
  </div>
</div>
</div>
</div>
</body>
</html>